body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f2f2f2; /* lichtgrijze achtergrondkleur */
}

#game-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 2px solid black;
    background-image: url('images/istockphoto-866061030-1024x1024.jpg'); /* Vervang 'achtergrondafbeelding.jpg' door het pad naar jouw achtergrondafbeelding */
    background-size: cover; /* Past de afbeelding aan zodat deze de volledige container bedekt */
    background-position: center; /* Plaatst de afbeelding in het midden van de container */
}

#ball {
    width: 50px;
    height: 50px;
    background-image: url('images/image.png'); /* Vervang 'bal_afbeelding.jpg' door het pad naar jouw afbeelding voor de bal */
    background-size: cover; /* Past de afbeelding aan zodat deze de volledige bal bedekt */
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#goal {
    width: 50px;
    height: 50px;
    background-image: url('images/AHI_43545239363730323839.jpg'); /* Vervang 'doel_afbeelding.jpg' door het pad naar jouw afbeelding voor de goal */
    background-size: cover; /* Past de afbeelding aan zodat deze de volledige goal bedekt */
    position: absolute;
    top: 80%;
    left: 80%;

}
```

Vergeet niet 'achtergrondafbeelding.jpg' te vervangen door het pad naar jouw eigen afbeelding.
